<!DOCTYPE html>
<html lang="en">

<head>
  <title>feedback</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://d3cegyku9ijncb.cloudfront.net/external_static/shield_all.min.css" />
  <script type="text/javascript" src="https://d3cegyku9ijncb.cloudfront.net/external_static/shieldui-all.min.js"></script>


  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/getmdl-select@2.0.1/getmdl-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/getmdl-select@2.0.1/getmdl-select.min.css"> -->

  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/MD_icon.css">
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/material.indigo-pink.min.css">
  <script defer src="https://d3cegyku9ijncb.cloudfront.net/external_static/material.min.js"></script>
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/static/css/style.css">
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/static/css/register.css">
</head>

<body>
  <nav class="navbar navbar-dark">
    
      <img src="https://d3cegyku9ijncb.cloudfront.net/static/images/futuresFirst.png" height="80" width="160" alt="">
    
  </nav>
  <div class="feedback-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 rating-title">
          <h6>Please provide your honest feedback, It'll help us make the experience better.</h6>
        </div>

          <div class="col-md-6 rating-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
              </div>
              <div class="panel-body text-center">
              </div>
              <form action="/feedback/" method="POST">
                {% csrf_token %}
              <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                  <div class="skillLineDefault">
                    <div class="skill pull-left text-center"> How much do you rate the overall quality of the Assessment test paper?
                    </div>
                    {{form.q1}}
                    <div class="rating" id="rate1"></div>
                  </div>
                </li>
                <li class="list-group-item text-center">
                  <div class="skillLineDefault">
                    <div class="skill pull-left text-center"> How much do you rate the difficulty level of the test paper?</div>
                    <div class="rating" id="rate2"></div>
                    {{form.q2}}
                  </div>
                </li>
                <li class="list-group-item text-center">
                  <div class="skillLineDefault">
                    <div class="skill pull-left text-center">How well was the test spread over different topics?</div>
                    <div class="rating" id="rate3"></div>
                    {{form.q3}}
                  </div>
                </li>
                <li class="list-group-item text-center">
                  <div class="skillLineDefault">
                    <div class="skill pull-left text-center">On what topic do you want us to emphasise on in the coming tests?</div>
                    
                    {{form.q4}}
                  </div>
                </li>
                <li class="list-group-item text-center">
                    <div class="skillLineDefault">
                      <div class="skill pull-left text-center"> How many marks are you expecting in this test?</div>
                    
                      {{form.q5}}
                    </div>
                  </li>
              </ul>
              <!-- <div class="ratings-input">
                <input type="text" readonly class="form-control-plaintext" id="ratings-input" value="">
              </div> -->
              <!-- <div class="text-fields-wrapper">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="text" id="textfield_1">
                      <label class="mdl-textfield__label" for="textfield_1">Text...</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" rows= "3" id="textfield_2" ></textarea>
                        <label class="mdl-textfield__label" for="textfield_2">Text lines...</label>
                      </div>
              </div> -->
              <div class="panel-footer text-center">
                  <button id="submit-btn" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                      Submit
                    </button>
              </div>
              

            </form>
            </div>
          </div>
        
      </div>
    </div>
  </div>
  <div class="footer">
    <nav class="navbar fixed-bottom navbar-dark">
      <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
    </nav>
  </div>
</body>
<script type="text/javascript">
// http://www.prepbootstrap.com/bootstrap-template/rating
  initializeRatings();

  function initializeRatings() {
    $('#rate1').shieldRating({
      max: 5,
      step: 0.5,
      value: 2.5,
      markPreset: false
    });
    $('#rate2').shieldRating({
      max: 5,
      step: 0.5,
      value: 2,
      markPreset: false
    });
    $('#rate3').shieldRating({
      max: 5,
      step: 0.5,
      value: 4.5,
      markPreset: false
    });
    
  }

  $('#submit-btn').click(function () {
    // document.getElementById('inset-next').click();
    // console.log('clicked');
    // alert($('#rate5').shieldRating.value);
    rating1 = $('#rate1').swidget().value();
    rating2 = $('#rate2').swidget().value();
    rating3 = $('#rate3').swidget().value();
    // rating4 = $('#rate4').swidget().value();
    // rating5 = $('#rate5').swidget().value();

    // alert(rating1 + ',' + rating2 +',' + rating3 + ',' + rating4 + ',' + rating5);
    // var ratings = [rating1, rating2 ,rating3 ,rating4, rating5];
    
    document.getElementById('q1').value = rating1;
    document.getElementById('q2').value = rating2;
    document.getElementById('q3').value = rating3;
    // document.getElementById('q4').value = rating4;
    // document.getElementById('q5').value = rating5;
    // console.log("Values set");
    // console.log(document.getElementById('ratings-input').value);
  })
</script>



</html>