<!DOCTYPE html>
<html lang="en">

<head>
  <title>Log In</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/particles.min.js"></script> 
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/stats.min.js"></script>
  
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <script
    src="https://d3cegyku9ijncb.cloudfront.net/external_static/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://d3cegyku9ijncb.cloudfront.net/external_static/getmdl-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://d3cegyku9ijncb.cloudfront.net/external_static/getmdl-select.min.css">

  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/MD_icon.css">
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/material.indigo-pink.min.css">
  <script defer src="https://d3cegyku9ijncb.cloudfront.net/external_static/material.min.js"></script>
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/static/css/style.css">
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/static/css/register.css">
</head>

<body>
  <nav class="navbar navbar-dark">
    
      <img src="https://d3cegyku9ijncb.cloudfront.net/static/images/futuresFirst.png" height="80" width="160" alt="">
      <!-- {{time_now}} -->
    
  </nav>
  <!-- particles.js container --> 
  <div id="particles-js"></div>
  <!-- <div class="count-particles">
      <span class="js-count-particles">--</span> particles 
  </div> -->
  <div class="login-container">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="registeration-text">
                  <h5>Please enter your details to Log In</h5>
                </div>
            <form method="POST" action="/login/">
               {% csrf_token %}
                <div class="user-id-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <!-- <input class="mdl-textfield__input" type="text" id="user-id"> -->
                  {{form.user_id}}
                  <label class="mdl-textfield__label" for="user_id">{{form.user_id.label}}</label>
                </div>
                <span class="error-message">
                  <p>{{form.user_id.errors.as_text}}</p>
                </span>
                <div class="password-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- <input class="mdl-textfield__input" type="password" id="password"> -->
                    {{form.password}}
                    <label class="mdl-textfield__label" for="password">{{form.password.label}}</label>
                  </div>
                <div class="password-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- <input class="mdl-textfield__input" type="password" id="password"> -->
                    {{form.session_key}}
                    <label class="mdl-textfield__label" for="password">{{form.session_key.label}}</label>
                  </div>
                  <span class="error-message">
                  <p>{{form.password.errors.as_text}}</p>
                </span>
                <span class="error-message">
                  <p>{{error}}</p>
                </span>
                  <input type="submit" value="Log In" id="log_in" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    
                  </button>
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <nav class="navbar fixed-bottom navbar-dark">
      <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
    </nav>
  </div>
</body>
<script>
  
  particlesJS("particles-js", {"particles":{"number":{"value":159,"density":{"enable":true,"value_area":1183.721462448409}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":8},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":176.3753266952075,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"repulse"},"onclick":{"enable":false,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});
  
  //var count_particles, stats, update; stats = new Stats; stats.setMode(0); stats.domElement.style.position = 'absolute'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement); count_particles = document.querySelector('.js-count-particles'); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);;
</script>
</html>