<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Exam</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/MD_icon.css">
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/material.indigo-pink.min.css">
  <script defer src="https://d3cegyku9ijncb.cloudfront.net/external_static/material.min.js"></script>
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/static/css/style.css">
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/static/css/question.css">
</head>

<body>
  <script type="text/javascript">
  setInterval(function () {document.getElementById("nupd-btn").click();}, 30000);
</script>

  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
           <img src="https://d3cegyku9ijncb.cloudfront.net/static/images/futuresFirst.png" height="80" width="160" alt="">
    </a>
    <div class="mx-auto testname-wrapper">
      <span>{{test_name}}</span>
    </div>
     <div class="timer">
      <input type="text" readonly class="form-control-plaintext" id="statictimer" value="">
    </div>
    <div class="finish-test-button">
       <button id="end-test-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
        End Section
      </button>
    </div>
  </nav>
  <div class="container-fluid body-wrapper">
    <div class="row">
      <div class="col-md-2 left-bar">
        <div class="left-section-wrapper">
          <div class="question-list-wrapper">
            <div class="col-md-12 section-heading">
              <h5>{{section_name}}</h5>
            </div>
            <div class="section-1-questions">
              <div class="section-name">
                <h5>Questions</h5>
              </div>
              {% for ques in ques_overview %}
              <input type="submit" id="nav_{{ques.qno}}" form="main_form" value="{{ques.qno}}" onclick="navigateQuestion(this.value)" 
              class="{{ques.status}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--colored {% if ques.qno == current_ques %}active{% endif %}">
  
{% endfor %}
            </div>
            <div class="legend-box">
              <div class="answered">
                <p style="color:green;">Attempted -
                  <span id="answeredNum">{{answered}}</span>
                </p>
                <p style="color:grey;">Unattempted -
                  <span id="answeredNum">{{unanswered}}</span>
                </p>
                <p style="color:orange;">Marked for Review -
                  <span id="answeredNum">{{flagged}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 right-part">
        <div class="row">
          <div class="col-md-6 question-container-wrapper">
            <div class="col-md-12 question-section-wrapper">
              <div class="question-number">
                <div class="question-details">
                  <div class="question-no">
                    <p>Question Number : {{current_ques}}</p>
                    Marks : {{question_marks}}
                  </div>
                       <button id="review-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect review-button" type="submit" form="main_form">
                      Mark/Unmark For Review
                    </button>
                </div>
              </div>
            </div>
            <div class="question-container">
              <p>{{question_text | safe}}</p>
            </div>
            {% if img_url is not None %}
            <img src="{{img_url}}" alt="Paris" class="center">
            {% endif %}
          </div>
          <div class="col-md-6 answer-coloumn">
              <div class="col-md-12 question-section-wrapper">
                  <div class="question-number">
                    <div class="question-details">
                      <div class="question-no">
                        <p>Please Select the appropriate choice.</p>
                      </div>
                    </div>
                  </div>
                </div>
            <div class="answer-section-wrapper">
              <form action="/mcq/" method="POST" id="main_form">
                {% csrf_token %}
                {{form.bsource}}
                {{form.timer_var}}
                {{form.qno}}
                {{form.choice_sel}}
                <div class="form-timer">
                  <input type="text" readonly class="form-control-plaintext" id="statictimer2" value="">
                </div>
                <div class="answer-list">
                  <div class="options-4">
                    {% for option_id, option_value in options_dict.items %}
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{option_id}}">
                      <input type="radio" id="option-{{option_id}}" class="mdl-radio__button" name="options" value="{{option_id}}">
                      <span class="mdl-radio__label">{{option_value | safe}}</span>
                    </label>
                    <br>
                    <br>
                    {% endfor %}
                    <!-- <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                      <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
                      <span class="mdl-radio__label">solar cell</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                      <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3">
                      <span class="mdl-radio__label">thunder</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                      <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="4">
                      <span class="mdl-radio__label">none of the above</span>
                    </label> -->
                  </div>
                  <div class="answer-tag-buttons">
                    <br>
                    <button type="button" id="clear-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button" style="margin-top:10px">
                      Clear
                    </button>
                  </div>
                </div>
                <div class="form-buttons-ext">
                 <button type="submit" id="inset-prev" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button" type="submit" form="main_form">Prev</button>
                          <button type="submit" id="inset-next" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button" type="submit" form="main_form">
                            next
                          </button>
                          <button type="submit" id="inset-review" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button">
                            Mark for review
                          </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12 question-nav-wrapper">
            <div class="navigation-section">
              <div class="prev-question">
                <button id="prev-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
                  <i class="material-icons">keyboard_arrow_left</i>Prev
                </button>
                <button id="nupd-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form" style="visibility:hidden;">
                  <i class="material-icons">keyboard_arrow_left</i>NUPD
                </button>
              </div>
              <div class="next-question">
                <button id="next-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
                  Next
                  <i class="material-icons">keyboard_arrow_right</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <nav class="navbar fixed-bottom navbar-dark">
      <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
    </nav>
  </div>
</body>

<script>
  // TIMER SCRIPT
  {% if selected_option is not none %}   
  try{
    document.getElementById("option-{{selected_option}}").checked = true;
  }
  catch(err) {
  
} 
{%endif %}


  
  document.getElementById('statictimer').value =
    {{timer_min}} + ":" + {{timer_sec}};

  startTimer();

  function startTimer() {
    try {

    var presentTime = document.getElementById('statictimer').value;
    var timeArray = presentTime.split(/[:]+/);
    var m = timeArray[0];
    var s = checkSecond((timeArray[1] - 1));
    if (s == 59) { m = m - 1 }
  

    document.getElementById('statictimer').value =
      m + ":" + s;
    timehandler();
    if(m+s>0){
      setTimeout(startTimer, 1000);  
    } else {
  
      var_timer = document.getElementById("statictimer").value;
      var_b = "bend"
      document.getElementById('timer_var').value = var_timer;
      document.getElementById('bsource').value = var_b;
      document.getElementById('main_form').submit();
  
    }
  
  }
  catch(err){
    
  }
}
  function timehandler() {
    try{
    document.getElementById('statictimer2').value = document.getElementById('statictimer').value;
  }
  catch(err){
    
  }
  }

  function checkSecond(sec) {
    try{
    if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
    if (sec < 0) { sec = "59" };
    return sec;
  }
  catch(err){
    
  }
  }

</script>


<script>
  
  $('#clear-btn').click(function () {
    try{
   
    {% for option_id, option_value in options_dict.items %}
    document.getElementById('option-{{option_id}}').parentNode.MaterialRadio.uncheck();
    {% endfor %}
  }
  catch(err){
    
  }
   
  });
  
</script>
<script>



  
function navigateQuestion(clicked_id)
{
   var a=['return\x20(function()\x20','apply','console','log','warn','debug','info','trace','czNNf','VfKUI','{}.constructor(\x22return\x20this\x22)(\x20)','vWyjV','exception','getElementById','value','bnav','timer_var','qno','CFHEA','error','statictimer','iLauR','KpykI','sTYMW'];(function(c,d){var e=function(f){while(--f){c['push'](c['shift']());}};e(++d);}(a,0x8d));var b=function(c,d){c=c-0x0;var e=a[c];return e;};var c=function(){var n=!![];return function(o,p){if(b('0x0')!==b('0x1')){var q=n?function(){if(p){if('sTYMW'!==b('0x2')){var i;try{i=Function(b('0x3')+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(t){i=window;}return i;}else{var u=p[b('0x4')](o,arguments);p=null;return u;}}}:function(){};n=![];return q;}else{that[b('0x5')][b('0x6')]=func;that[b('0x5')][b('0x7')]=func;that[b('0x5')][b('0x8')]=func;that['console'][b('0x9')]=func;that[b('0x5')]['error']=func;that[b('0x5')]['exception']=func;that[b('0x5')][b('0xa')]=func;}};}();var d=c(this,function(){var w=function(){};var x=function(){if(b('0xb')===b('0xc')){z=Function('return\x20(function()\x20'+b('0xd')+');')();}else{var z;try{z=Function(b('0x3')+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(A){z=window;}return z;}};var B=x();if(!B[b('0x5')]){B[b('0x5')]=function(C){if(b('0xe')===b('0xe')){var D={};D[b('0x6')]=C;D['warn']=C;D[b('0x8')]=C;D[b('0x9')]=C;D['error']=C;D[b('0xf')]=C;D['trace']=C;return D;}else{var_timer=document[b('0x10')]('statictimer')[b('0x11')];var_b=b('0x12');var_nav=clicked_id;document['getElementById'](b('0x13'))[b('0x11')]=var_timer;document[b('0x10')]('bsource')[b('0x11')]=var_b;document['getElementById'](b('0x14'))[b('0x11')]=var_nav;}}(w);}else{if(b('0x15')!=='aDyzy'){B[b('0x5')][b('0x6')]=w;B['console']['warn']=w;B[b('0x5')][b('0x8')]=w;B['console'][b('0x9')]=w;B[b('0x5')]['error']=w;B['console'][b('0xf')]=w;B[b('0x5')][b('0xa')]=w;}else{var m={};m[b('0x6')]=w;m[b('0x7')]=w;m[b('0x8')]=w;m[b('0x9')]=w;m[b('0x16')]=w;m['exception']=w;m['trace']=w;return m;}}});d();try{var_timer=document['getElementById'](b('0x17'))[b('0x11')];var_b=b('0x12');var_nav=clicked_id;document['getElementById'](b('0x13'))[b('0x11')]=var_timer;document['getElementById']('bsource')[b('0x11')]=var_b;document[b('0x10')](b('0x14'))[b('0x11')]=var_nav;}catch(H){}

}
  

  var a=['bsource','nupd','open','setRequestHeader','serialize','send','onload','Timer\x20Updated','console','FqLxi','bnext','Error\x20in\x20Next\x20btn','warn','debug','info','error','exception','trace','#submit-btn','click','bsub','Error\x20in\x20Submit','#review-btn','MfanF','Error\x20in\x20review','UiZSw','DrEwP','bprev','MBJxr','return\x20(function()\x20','{}.constructor(\x22return\x20this\x22)(\x20)','#end-test-btn','End\x20button\x20clicked','Error\x20in\x20End\x20Test','#nupd-btn','sWFeb','VeDiz','POST','/2bcd6fb3d1314ff68b775fc4ca82164d/','Content-type','application/x-www-form-urlencoded','#main_form','wDbJP','YAfYv','getElementById','statictimer','value','brev','timer_var','apply','ucMpp','preventDefault','log','Button\x20Clicked'];(function(c,d){var e=function(f){while(--f){c['push'](c['shift']());}};e(++d);}(a,0x1a5));var b=function(c,d){c=c-0x0;var e=a[c];return e;};var c=function(){var x=!![];return function(y,z){var A=x?function(){if(b('0x0')!==b('0x0')){var_timer=document[b('0x1')](b('0x2'))[b('0x3')];var_b=b('0x4');document[b('0x1')](b('0x5'))[b('0x3')]=var_timer;document[b('0x1')]('bsource')[b('0x3')]=var_b;}else{if(z){var C=z[b('0x6')](y,arguments);z=null;return C;}}}:function(){};x=![];return A;};}();var d=c(this,function(){var D=function(){};var E=function(){var F;try{if(b('0x7')==='ucMpp'){F=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}else{ev[b('0x8')]();console[b('0x9')](b('0xa'));var_timer=document[b('0x1')](b('0x2'))[b('0x3')];document['getElementById']('timer_var')[b('0x3')]=var_timer;document[b('0x1')](b('0xb'))[b('0x3')]=b('0xc');var v=new XMLHttpRequest();v[b('0xd')]('POST','/2bcd6fb3d1314ff68b775fc4ca82164d/',!![]);v[b('0xe')]('Content-type','application/x-www-form-urlencoded');var w=$('#main_form')[b('0xf')]();v[b('0x10')](w);v[b('0x11')]=function(){console[b('0x9')](b('0x12'));};}}catch(J){F=window;}return F;};var K=E();if(!K[b('0x13')]){if(b('0x14')==='mvGSO'){try{var_timer=document['getElementById'](b('0x2'))[b('0x3')];var_b=b('0x15');document[b('0x1')](b('0x5'))[b('0x3')]=var_timer;document[b('0x1')](b('0xb'))[b('0x3')]=var_b;}catch(M){console[b('0x9')](b('0x16'));}}else{K[b('0x13')]=function(N){var O={};O['log']=N;O[b('0x17')]=N;O[b('0x18')]=N;O[b('0x19')]=N;O[b('0x1a')]=N;O[b('0x1b')]=N;O[b('0x1c')]=N;return O;}(D);}}else{K[b('0x13')]['log']=D;K[b('0x13')][b('0x17')]=D;K[b('0x13')]['debug']=D;K[b('0x13')][b('0x19')]=D;K[b('0x13')]['error']=D;K[b('0x13')][b('0x1b')]=D;K[b('0x13')][b('0x1c')]=D;}});d();$(b('0x1d'))[b('0x1e')](function(){try{var_timer=document[b('0x1')](b('0x2'))[b('0x3')];var_b=b('0x1f');document[b('0x1')](b('0x5'))[b('0x3')]=var_timer;document[b('0x1')](b('0xb'))['value']=var_b;}catch(P){console[b('0x9')](b('0x20'));}});$(b('0x21'))[b('0x1e')](function(){try{if(b('0x22')===b('0x22')){var_timer=document[b('0x1')](b('0x2'))[b('0x3')];var_b=b('0x4');document[b('0x1')](b('0x5'))['value']=var_timer;document['getElementById'](b('0xb'))[b('0x3')]=var_b;}else{var m={};m[b('0x9')]=func;m['warn']=func;m[b('0x18')]=func;m['info']=func;m['error']=func;m[b('0x1b')]=func;m['trace']=func;return m;}}catch(S){console[b('0x9')](b('0x23'));}});$('#prev-btn')[b('0x1e')](function(){try{if(b('0x24')!==b('0x25')){var_timer=document[b('0x1')](b('0x2'))[b('0x3')];var_b=b('0x26');document[b('0x1')](b('0x5'))[b('0x3')]=var_timer;document[b('0x1')](b('0xb'))[b('0x3')]=var_b;}else{var_timer=document[b('0x1')](b('0x2'))[b('0x3')];var_b=b('0x15');document[b('0x1')](b('0x5'))[b('0x3')]=var_timer;document[b('0x1')]('bsource')['value']=var_b;}}catch(U){console[b('0x9')]('Error\x20in\x20Prev\x20btn');}});$('#next-btn')['click'](function(){try{var_timer=document['getElementById'](b('0x2'))['value'];var_b=b('0x15');document[b('0x1')](b('0x5'))[b('0x3')]=var_timer;document['getElementById'](b('0xb'))['value']=var_b;}catch(V){if('MBJxr'!==b('0x27')){var i;try{i=Function(b('0x28')+b('0x29')+');')();}catch(Y){i=window;}return i;}else{console[b('0x9')]('Error\x20in\x20Next\x20btn');}}});$(b('0x2a'))[b('0x1e')](function(){try{console[b('0x9')](b('0x2b'));var_timer=document['getElementById'](b('0x2'))[b('0x3')];var_b='bend';document['getElementById'](b('0x5'))[b('0x3')]=var_timer;document[b('0x1')](b('0xb'))[b('0x3')]=var_b;}catch(Z){console[b('0x9')](b('0x2c'));}});$(b('0x2d'))['click'](function(a0){try{if(b('0x2e')===b('0x2f')){console[b('0x9')]('Error\x20in\x20Next\x20btn');}else{a0[b('0x8')]();console[b('0x9')](b('0xa'));var_timer=document[b('0x1')](b('0x2'))[b('0x3')];document[b('0x1')](b('0x5'))['value']=var_timer;document['getElementById'](b('0xb'))[b('0x3')]=b('0xc');var a2=new XMLHttpRequest();a2[b('0xd')](b('0x30'),b('0x31'),!![]);a2['setRequestHeader'](b('0x32'),b('0x33'));var a3=$(b('0x34'))[b('0xf')]();a2[b('0x10')](a3);a2['onload']=function(){if('tjVHw'===b('0x35')){if(fn){var g=fn[b('0x6')](context,arguments);fn=null;return g;}}else{console[b('0x9')](b('0x12'));}};}}catch(a6){console[b('0x9')]('Error\x20in\x20Update\x20API');}});
</script>

</html>