<!-- https://d3cegyku9ijncb.cloudfront.net/static/images/axxela_logo.jpg <meta charset="utf-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/particles.min.js"></script> 
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/stats.min.js"></script>
  
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <script
    src="https://d3cegyku9ijncb.cloudfront.net/external_static/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://d3cegyku9ijncb.cloudfront.net/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://d3cegyku9ijncb.cloudfront.net/external_static/getmdl-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://d3cegyku9ijncb.cloudfront.net/external_static/getmdl-select.min.css">

  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/MD_icon.css">
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/external_static/material.indigo-pink.min.css">
  <script defer src="https://d3cegyku9ijncb.cloudfront.net/external_static/material.min.js"></script>
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/static/css/style.css">
  <link rel="stylesheet" href="https://d3cegyku9ijncb.cloudfront.net/static/css/register.css">
</head>

<body>
  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
         <img src="https://d3cegyku9ijncb.cloudfront.net/static/images/futuresFirst.png" height="80" width="160" alt="">
    </a>
  </nav>
  <!-- particles.js container --> 
  <div id="particles-js"></div>
  <!-- <div class="count-particles">
      <span class="js-count-particles">--</span> particles 
  </div> -->
  <div class="register-container">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="registeration-text">
                  <h5>Please enter your details to Register</h5>
                </div>
            <form method="POST" action="/register/">
              {%csrf_token%}
                <div class="name-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <!-- <input class="mdl-textfield__input" type="text" id="Name"> -->
                  {{form.name}}
                  <label class="mdl-textfield__label" for="Name">{{form.name.label}}</label>
                   <span class="mdl-textfield__error" style="visibility: visible;">{{form.name.errors.as_text}}</span>
                </div>
                
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <!-- <input class="mdl-textfield__input" type="text" id="InputRollNumber"> -->
                  {{form.InputCollegeName}}
                  <label class="mdl-textfield__label" for="{{form.InputCollegeName.id}}">{{form.InputCollegeName.label}}</label>
                   <span class="mdl-textfield__error" style="visibility: visible;">{{form.InputCollegeName.errors.as_text}}</span>
                </div>
                
                <div class="cgpa-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputMobileNumber"> -->
                  {{form.InputBranch}}
                  <label class="mdl-textfield__label" for="{{form.InputBranch.id}}">{{form.InputBranch.label}}</label>
                   <span class="mdl-textfield__error" style="visibility: visible;">{{form.InputBranch.errors.as_text}}</span>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <!-- <input class="mdl-textfield__input" type="text" id="InputRollNumber"> -->
                  {{form.student_id}}
                  <label class="mdl-textfield__label" for="InputRollNumber">{{form.student_id.label}}</label>
                   <span class="mdl-textfield__error" style="visibility: visible;">{{form.student_id.errors}}</span>
                </div>
                <div class="cgpa-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputMobileNumber"> -->
                  {{form.cgpa}}
                  <label class="mdl-textfield__label" for="{{form.cgpa.id}}">{{form.cgpa.label}}</label>
                   <span class="mdl-textfield__error" style="visibility: visible;">{{form.cgpa.errors.as_text}}</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="email" id="InputEmail" value="{{email_id}}" readonly>
                   <label class="mdl-textfield__label" for="InputEmail">Email Address</label>
                  <!-- <span class="mdl-textfield__error">Input a valid email!</span> -->
                </div>
                <div class="mobilenum-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputMobileNumber"> -->
                  {{form.mobile}}
                  <label class="mdl-textfield__label" for="{{form.mobile.id}}">{{form.mobile.label}}</label>
                   <span class="mdl-textfield__error" style="visibility: visible;">{{form.mobile.errors.as_text}}</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- <input class="mdl-textfield__input" type="text" id="InputDOB"> -->
                    {{form.dob}}
                    <label class="mdl-textfield__label" for="{{form.dob.id}}">{{form.dob.label}}</label>
                    <span class="mdl-textfield__error" style="visibility: visible;">{{form.dob.errors.as_text}}</span>
                  </div>
                <div class="yog-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputYOG"> -->
                  {{form.expected_year}}
                  <label class="mdl-textfield__label" for="{{form.expected_year.id}}">{{form.expected_year.label}}</label>
                   <span class="mdl-textfield__error" style="visibility: visible;">{{form.expected_year.errors.as_text}}</span>
                </div>
                <!-- <div class="password-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                  </div> -->
                  <!-- <div class="confirm-password-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="password" id="confirm-password">
                      <label class="mdl-textfield__label" for="confirm-password">Confirm Password</label>
                      <span class="mdl-textfield__error">Passwords do not match!</span>
                    </div> -->
                <div>
                  <input type="submit" value="Register" id="register" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  <!-- <button id="register-btn" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Register
                  </button> -->
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <nav class="navbar fixed-bottom navbar-dark">
      <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
    </nav>
  </div>
</body>
<script>
  particlesJS("particles-js", {"particles":{"number":{"value":159,"density":{"enable":true,"value_area":1183.721462448409}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":8},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":176.3753266952075,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"repulse"},"onclick":{"enable":false,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});
  
  //var count_particles, stats, update; stats = new Stats; stats.setMode(0); stats.domElement.style.position = 'absolute'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement); count_particles = document.querySelector('.js-count-particles'); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);;
</script>
<script>
  $('#password, #confirm-password').on('keyup', function () {
  if ($('#password').val() == $('#confirm-password').val()) {
    $('div.confirm-password-div').removeClass("is-invalid");;
  } else 
  $('div.confirm-password-div').addClass("is-invalid");
});
</script>
</html>