<!DOCTYPE html>
<html lang="en">
<head>

<style>

</style>

  <title>Sample Test 1</title>
  
  <meta name="csrf_token" content="{{ csrf_token }}" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css" media="screen">
     #editor {
        width: 80%;
        height: 500px;
        position: relative;
        padding-bottom: 100px;
        padding-top: 100px;
        
    }

    #display {
        position: relative-right;
        padding-bottom: 100px;
        padding-top: 100px;
        text-align: right;
        float: right;
    }

    .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.2/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  function changeMode(){
  var newModes = document.getElementById("mode");
  var newMode = newModes.options[newModes.selectedIndex].value;
  editor.session.setMode("ace/mode/"+newMode);
  document.getElementById("id_language").value = newModes.options[newModes.selectedIndex].text;
  window.alert("Your language of choice has been updated to "+newModes.options[newModes.selectedIndex].text +" .");
}
</script>

<script type="text/javascript">
  
  function CountDown(duration, display) {
            if (!isNaN(duration)) {
                var timer = duration, minutes, seconds;
                
              var interVal=  setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    $(display).html("<b>" + minutes + "m : " + seconds + "s" + "</b>");
                    if (--timer < 0) {
                        timer = duration;
                       SubmitFunction();
                       $('#display_timer').empty();
                       clearInterval(interVal)
                    }
                    },1000);
            }
        }
        
        function SubmitFunction(){
       $('form').submit();
        
        }
</script>

</head>
<body>

<div class="container">

  <h2>Sample Test 1  </h2>
  Write a program that prints "Hello World!" to STDOUT. <br>
  In case you are using Java, the public class needs to be named SolutionClass.
  <div id="display_timer">
</div>
  <hr>




<script type="text/javascript">
  CountDown({{timer_value}},$('#display_timer'));
</script>


    <div class="form-group">
      <form action ="/test_site/sample-code" method="post">
         {% csrf_token %}


<select id="mode" onchange="changeMode()" >
  <option value="python">Python 2.7</option>
  <option value="c_cpp">C</option>
  <option value="javascript">JavaScript</option>
  <option value="c_cpp">C++</option>
  <option value="java">Java</option>
  </select>

<div id="editor">
</div>

<textarea name="editor_code" style="display:none;"></textarea>
{{form.language}}
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");
    editor.resize()
    editor.setOptions({
    fontSize: "14pt"
});
    var textarea = $('textarea[name="editor_code"]').hide();
    editor.getSession().setValue(textarea.val());
editor.getSession().on('change', function(){
  textarea.val(editor.getSession().getValue());
});





</script>
    <br><br>  
    <button type="submit" class="btn btn-default">Submit</button>
    
  </form>
</div>

</div>


</body>
</html>
