<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test - Enter Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Please enter your details</h2><hr>
  
  <form action="/test_site/details" method="POST">
    {%csrf_token%}
    {% for field in form %}
    <div class="form-group">
     <label> {{field.label}}</label>
      {{field}}
        <span class="text-danger">{{field.errors}}</span>
    </div>
    {% endfor %}
    
  
    <button type="submit" class="btn btn-default">Submit</button>
  </form>


</div>

</body>
</html>
