<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test - Log In</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Log In</h2><hr>
  <form action="/test_site/login" method="POST">
    {%csrf_token%}
    <div class="form-group">
     <label> {{form.user_id.label}}</label>
      {{form.user_id}}
    </div>
    <div class="form-group">
      <label>{{form.password.label}}</label>
      {{form.password}}
    </div>
    <span class="text-danger">{{error}}</span><br><br>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
