<!DOCTYPE html>
<html lang="en">
<head>

<style>

</style>

  <title>Section 2</title>
  
  <meta name="csrf_token" content="{{ csrf_token }}" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css" media="screen">
     #editor {
        width: 80%;
        height: 500px;
        position: relative;
        padding-bottom: 100px;
        padding-top: 100px;
        
    }

    #display {
        position: relative-right;
        padding-bottom: 100px;
        padding-top: 100px;
        text-align: right;
        float: right;
    }

    .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

</style>


<script type="text/javascript">
  
  function CountDown(duration, display) {
            if (!isNaN(duration)) {
                var timer = duration, minutes, seconds;
                
              var interVal=  setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    $(display).html("<b>" + minutes + "m : " + seconds + "s" + "</b>");
                    if (--timer < 0) {
                        timer = duration;
                       SubmitFunction();
                       $('#display_timer').empty();
                       clearInterval(interVal)
                    }
                    },1000);
            }
        }
        
        function SubmitFunction(){
       $('form').submit();
        
        }
</script>

</head>
<body>

<div class="container">
<form action ="/test_site/section-2-test" method="post">
  <h2>Section 2  </h2>
  <div id="display_timer">
</div>
  <hr>




<!-- <script type="text/javascript">
  CountDown(5,$('#display_timer'));
</script>
 -->

    <div class="form-group">
      
         {% csrf_token %}
{{form}}
{{form.errors}}


    <br><br>  
    <button type="submit" class="btn btn-default">Submit</button>
    
  </form>
</div>

</div>


</body>
</html>
