.register-container form {
    background-color: white;
    padding-left: 20px;
    border-radius: 10px;
    padding-bottom: 5px;
    width: 665px;
    padding-right: 20px;
}
.name-div {
  display:  block;
  width: 620px;
}


.right-div {
  margin-left:  20px;
}

.registeration-text {
    color: white;
    padding-left: 10px;
}

.canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 85vh;
    background-color: #2b43b1;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}
.login-container{
  height: 55vh;
    display: flex;
    align-items: center;
}
.login-container .registeration-text{
  text-align: center;
  padding-left: 0;
}
.login-container form{
  background-color: white;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 10px;
}
.login-container form div{
  display: block;
  width: 380px;
}
.login-container form button{
  display: block;
}
.login-container form span p{
  text-align: center;
  margin: 0;
  color: red;
  /* display: none; */
}
.instruction-container{
  height: 85vh;
}
/* .instructions-pdf{
  height: 490px;
} */
.instructions-wrapper form textarea{
  color: black !important;
  height: 400px;
}
.instructions-wrapper form div{
  width: 100%;
}
#proceed_test{
  margin-top: 5px;
}
.thanks-container{
  height: 85vh;
}
.thanks-pdf{
  height: 490px;
}
#feedback{
  margin-top: 5px;
}


/* Feedback CSS */
.sui-rating .sui-rating-selected {
  background-position: left 48px;
}
.sui-rtl .sui-rating .sui-rating-hover {
  background-position: right 48px;
}
.sui-rating .sui-rating-hover, .sui-rating .sui-rating-preset, .sui-rating .sui-rating-preset-rtl {
  background-position: left 48px;
  cursor: pointer;
}
/* .skillLineDefault div {
  display: inline-block;
  padding-left: 10px;
} */
.skillLineDefault .skill{
  display: inline-block;
  padding-right: 15px;
}
.rating-panel{
  margin: auto;
}
.rating-title{
  text-align: center;
}
.panel-footer{
  /* margin-top: 15px; */
  margin-bottom: 30px;
}
.skillLineDefault{
  display: flex;
  justify-content: space-between;
}
.text-fields-wrapper div{
  width: 100%;
}
.ratings-input{
  display: none;
}