/* roboto-100 - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-100italic - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100italic.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300italic.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500italic.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700italic.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900italic.woff') format('woff'), /* Modern Browsers */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://d32bwygtnsooqp.cloudfront.net/fonts/roboto-v18-vietnamese_latin-ext_greek-ext_cyrillic_greek_latin_cyrillic-ext-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}


body{
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 10vh;
    background-color: #2b43b1 !important;
}
.footer nav{
    height: 5vh;
    background-color: #2b43b1;
}
nav.navbar.fixed-bottom.navbar-dark a {
    font-size: 12px;
}