<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Exam</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/games/7up/script.js"></script>
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/MD_icon.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.indigo-pink.min.css">
  <script defer src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.min.js"></script>
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/style.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/question.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/games/7up/style.css">
</head>

<body>
  <script type="text/javascript">
  setInterval(function() { document.getElementById("nupd-btn").click(); }, 30000);
  </script>
  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/images/cantilever-logo-final.jpg" height="80" width="160" alt="">
    </a>
    <div class="mx-auto testname-wrapper">
      <span>7 Up/Down</span>
    </div>

    <div class="lives" style="margin-right: 10px;color:white" >
      BalanceAmount : <span id="balanceAmount"></span>
    </div>
    <div class="timer">
      <input type="text" readonly class="form-control-plaintext" id="statictimer" value="">
    </div>
    <div class="finish-test-button">
      <button id="end-test-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
        End Section
      </button>
    </div>
  </nav>
  <div class="container-fluid body-wrapper">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <div id="game3Container" style="margin-top: 60px;margin-bottom: 40px;"></div>
        
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
        <div id="transactions" class="updown-game"></div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="answer-section-wrapper">
          <form action="/7-up/" method="POST" id="main_form">
            <input type="hidden" name="score" id="score" />
            <input type="hidden" name="num_lives" id="num_lives" />
            <input type="hidden" name="error_log" id="error_log" />
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="footer">
    <nav class="navbar fixed-bottom navbar-dark">
      <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
    </nav>
  </div>
  <script type="text/javascript">
  $(function() {
    var game3;
    var gameLog=[];
     $('#end-test-btn').click(function() {
      var state = game3.getState();
      $('#error_log').val(JSON.stringify(gameLog));
      $('#main_form').submit();
    });
    game3 = GameFactory.createGame4({
      container: '#game3Container',
      balanceAmountContainer: '#balanceAmount',
      transactionsContainer: '#transactions',
      countDownContainer: '#statictimer',
      questions: [],
      // timeout: {{timeout}},
      timeout: 5,
      levelTransitionTime: {{level_transition_time}},
    });
    game3.start().onScore = function(state) {
      gameLog.push(state);
      console.log(state)
      if (state.event === 'TIME_UP' || state.event === 'GAME_OVER') {
        $('#end-test-btn').click();
      }
    };
  });
  </script>
</body>

</html>