<!DOCTYPE html>
<html lang="en">

<head>
  <title>Instructions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <script
    src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


    <!-- <script type="text/javascript" src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/getmdl-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/getmdl-select@2.0.1/getmdl-select.min.css"> -->

  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/MD_icon.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.indigo-pink.min.css">
  <script defer src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.min.js"></script>
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/style.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/register.css">
</head>

<body>
  <nav class="navbar navbar-dark">
    
      <img src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/images/cantilever-logo-final.jpg" height="80" width="160" alt="">
    
  </nav>

  <script type="text/javascript">
// Popup window code
function newPopup(url) {
  popupWindow = window.open(
    url,'popUpWindow','height=screen.availHeight,width=screen.availWidth,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=no')
}

function toggleFullScreen() {
  if ((document.fullScreenElement && document.fullScreenElement !== null) ||    
   (!document.mozFullScreen && !document.webkitIsFullScreen)) {
    if (document.documentElement.requestFullScreen) {  
      document.documentElement.requestFullScreen();  
    } else if (document.documentElement.mozRequestFullScreen) {  
      document.documentElement.mozRequestFullScreen();  
    } else if (document.documentElement.webkitRequestFullScreen) {  
      document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);  
    }
    document.getElementById('proceed_test').style.visibility="";  
    document.getElementById('makefs').style.visibility="hidden";  
  } 
  // else {  
  //   if (document.cancelFullScreen) {  
  //     document.cancelFullScreen();  
  //   } else if (document.mozCancelFullScreen) {  
  //     document.mozCancelFullScreen();  
  //   } else if (document.webkitCancelFullScreen) {  
  //     document.webkitCancelFullScreen();  
  //   }  
  // }  
}


</script>


<script type="text/javascript">
$(document).ready(function () {
    //Disable full page
    $("body").on("contextmenu",function(e){
        return false;
    });
    
    //Disable part of page
    $("#id").on("contextmenu",function(e){
        return false;
    });

$(window).keydown(function(event) {
  if(event.ctrlKey && event.keyCode == 84) { 
    console.log("Hey! Ctrl+T event captured!");
    event.preventDefault(); 
  }
  if(event.ctrlKey && event.keyCode == 83) { 
    console.log("Hey! Ctrl+S event captured!");
    event.preventDefault(); 
  }
});

     

});


</script>


  <div class="instruction-container">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="Instruction-text">
                  <h6>Please click the button below to start the test.</h6>
                </div>
                <div class="instructions-pdf">
                    <!-- <embed src="images/sample-3pp.pdf#page=2" type="application/pdf" width="100%" height="100%"> -->
                </div>
                <!-- <div class="instructions-wrapper">
                  <ul>
                   
                    {% for instruction in instructions %}

                    <li>{{instruction.instruction}}</li>

                    {% endfor %}
                   
                   
                  </ul>
                </div> -->
            <!-- <button id="makefs" onclick="toggleFullScreen();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Enter Fullscreen
              </button>    <br> -->
            <!-- <button id="proceed_test" onclick="window.location.href='{{next}}'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="">
                Proceed
              </button> -->
              <button id="proceed_test" onclick="newPopup('/assessment/');" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="">
                Proceed
              </button>
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <nav class="navbar fixed-bottom navbar-dark">
      <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
    </nav>
  </div>
</body>
</html>