<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Exam</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/games/number-chronology/script.js"></script>
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/MD_icon.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.indigo-pink.min.css">
  <script defer src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.min.js"></script>
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/style.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/question.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/games/number-chronology/style.css">
</head>

<body>

  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/images/cantilever-logo-final.jpg" height="80" width="160" alt="">
    </a>
    <div class="mx-auto testname-wrapper">
      <span>Number Chronology</span>
    </div>
    <div class="lives" style="margin-right: 10px;" id="lifesContainer">
    </div>
    <div class="timer">
      <input type="text" readonly class="form-control-plaintext" id="statictimer" value="">
    </div>
    <div class="finish-test-button">
      <button id="end-test-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
        End Section
      </button>
    </div>
  </nav>
  <div class="container-fluid body-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div id="game1Container"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="answer-section-wrapper">
          <form action="." method="POST" id="main_form">
            <input type="hidden" name="score" id="score" />
            <input type="hidden" name="num_lives" id="num_lives" />
            <input type="hidden" name="error_log" id="error_log" />
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="footer">
    <nav class="navbar fixed-bottom navbar-dark">
      <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
    </nav>
  </div>
  <script type="text/javascript">
  $(function() {
    var game1;
    var gameLog=[];
    $('#end-test-btn').click(function() {
      var state = game1.getState();
      $('#score').val(state.score);
      $('#num_lives').val(state.numberOfLives);
      $('#error_log').val(JSON.stringify(gameLog));
      $('#main_form').submit();
    });

     game1 = GameFactory.createGame1({
      container: '#game1Container',
      countDownContainer: '#statictimer',
      lifeScoreContainer: '#lifesContainer',
      gridX: {{grid_rows}},
      gridY: {{grid_cols}},
      scallingFactor: 1,
      aspectRatio: 17 / 8,
      flashTime: {{flash_time}},
      numberOfLives: {{num_lives}},
      timeout: {{timeout}},
      levelTransitionTime: {{level_transition_time}},
      persistInput: {{input_persistance_time}},
      persistInputUntilNext: {{persist_until_input|yesno:"true,false"}},
      persistWrongInput: {{persist_wrong_input}}
    });
    game1.start().onScore = function(state) {
      gameLog.push(state);
      console.log(state)
      if(state.event === 'TIME_UP' || state.event === 'NO_LIFE') {
        $('#end-test-btn').click();
      }
    };
  });
  </script>
</body>

</html>