<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Exam</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/MD_icon.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.indigo-pink.min.css">
  <script defer src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.min.js"></script>

  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/js/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/js/mode-c_cpp.js"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/js/mode-javascript.js"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/js/theme-monokai.js"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/js/mode-python.js"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/js/code_editor.js"></script>
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/style.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/code_editor.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/question.css">
</head>

<body>
<script type="text/javascript">
  setInterval(function () {document.getElementById("nupd-btn").click();}, 30000);
</script>

  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
         <img src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/images/cantilever-logo-final.jpg" height="80" width="160" alt="">
    </a>
    <div class="mx-auto testname-wrapper">
      <span>{{test_name}}</span>
    </div>
    <div class="timer">
      <input type="text" readonly class="form-control-plaintext" id="statictimer" value="">
    </div>
    <div class="finish-test-button">
      <button id="end-test-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
        End Test
      </button>
    </div>
  </nav>
  <div class="container-fluid body-wrapper">
    <div class="row">
      <div class="col-md-2 left-bar">
        <div class="left-section-wrapper">
          <div class="question-list-wrapper">
            <div class="col-md-12 section-heading">
              <h5>{{section_name}}</h5>
            </div>
            <div class="section-1-questions">
              <div class="section-name">
                <h5>Questions</h5>
              </div>
             
<!-- answered,unanswered,flagged, active -->
              {% for ques in ques_overview %}
              <input type="submit" id="nav_{{ques.qno}}" form="main_form" value="{{ques.qno}}" onclick="navigateQuestion(this.value)" 
              class="{{ques.status}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--colored {% if ques.qno == current_ques %}active{% endif %}">
  
{% endfor %}
              

               
              
            </div>
            <div class="legend-box">
              <div class="answered">
                <p style="color:green;">Attempted -
                  <span id="answeredNum">{{answered}}</span>
                </p>
                <p style="color:grey;">Unattempted -
                  <span id="answeredNum">{{unanswered}}</span>
                </p>
                <p style="color:orange;">Marked for Review -
                  <span id="answeredNum">{{flagged}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 right-part">
        <div class="row">
          <div class="col-md-6 question-container-wrapper">
            <div class="col-md-12 question-section-wrapper">
              <div class="question-number">
                <div class="question-details">
                  <div class="question-no">
                    <p>Question Number : {{current_ques}}</p>
                  </div>
                  <button id="review-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect review-button" type="submit" form="main_form">
                      Mark For Review
                    </button>
                </div>
              </div>
            </div>
            <div class="question-container">
              <p>{{question}}</p>
            </div>
          </div>
          <div class="col-md-6 answer-coloumn">
            <div class="answer-section-wrapper">
              <div class="code-answer">
                <div class="code-box-wrapper">
                  <div>
                    <div class="form-group">
                      <form id="main_form" action="/oj/" method="POST">
                        {% csrf_token %}
                        <div class="form-timer">
                          <input type="text" readonly class="form-control-plaintext" id="statictimer2" value="">
                        </div>
                        {{form.code_language}}
                        {{form.code_body}}
                        {{form.timer_var}}
                        {{form.bsource}}
                 {{form.qno}}       
                        <!-- <input type="submit" name="bmrev" value="bmrev">
                        <input type="submit" name="bprev" value="bprev">
                        <input type="submit" name="bnext" value="bnext">
                        <input type="submit" name="bsub" value="bsub">
                        <input type="submit" name="bview" value="bview">
                        <input type="submit" name="bend" value="bend">
                        <input type="submit" name="bnav" value="bnav">
 -->

                        <select id="mode" onchange="changeMode()">
                          <option value="python">Python 2.7</option>
                          <option value="c_cpp">C</option>
                          <option value="javascript">JavaScript</option>
                          <option value="c_cpp">C++</option>
                          <option value="java">Java</option>
                        </select>
                        <script>
                          var curr_lang = '{{code_lang}}';

                          var dd = document.getElementById('mode');
                          for (var i = 0; i < dd.options.length; i++) {
                              if (dd.options[i].text === curr_lang) {
                                  dd.selectedIndex = i;
                                  break;
                              }
                          }


                        </script>

                        <div id="editor" class=" ace_editor ace-monokai ace_dark" style="font-size: 14pt;">
                          <textarea id="default_editor_space" class="ace_text-input" wrap="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="opacity: 0; left: -100px;" ></textarea>
                          <div class="ace_gutter" aria-hidden="true">
                            <div class="ace_layer ace_gutter-layer ace_folding-enabled" style="margin-top: 0px; height: 536px; width: 43px;">
                              <div class="ace_gutter-cell " style="height: 18px;">1</div>
                            </div>
                            <div class="ace_gutter-active-line" style="top: 0px; height: 18px;"></div>
                          </div>
                          <div class="ace_scroller" style="left: 43px; right: 0px; bottom: 0px;">
                            <div class="ace_content" style="margin-top: 0px; width: 869px; height: 536px; margin-left: 0px;">
                              <div class="ace_layer ace_print-margin-layer">
                                <div class="ace_print-margin" style="left: 750px; visibility: visible;"></div>
                              </div>
                              <div class="ace_layer ace_marker-layer">
                                <div class="ace_active-line" style="height:18px;top:0px;left:0;right:0;"></div>
                              </div>
                              <div class="ace_layer ace_text-layer" style="padding: 0px 4px;">
                                <div class="ace_line" style="height:18px"></div>
                              </div>
                              <div class="ace_layer ace_marker-layer"></div>
                              <div class="ace_layer ace_cursor-layer ace_hidden-cursors">
                                <div class="ace_cursor" style="left: 4px; top: 0px; width: 9.32812px; height: 18px;"></div>
                              </div>
                            </div>
                          </div>
                          <div class="ace_scrollbar ace_scrollbar-v" style="display: none; width: 20px; bottom: 0px;">
                            <div class="ace_scrollbar-inner" style="width: 20px; height: 18px;"></div>
                          </div>
                          <div class="ace_scrollbar ace_scrollbar-h" style="display: none; height: 20px; left: 43px; right: 0px;">
                            <div class="ace_scrollbar-inner" style="height: 20px; width: 869px;"></div>
                          </div>
                          <div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; overflow: hidden;">
                            <div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; overflow: visible;"></div>
                            <div style="height: auto; width: auto; top: 0px; left: 0px; visibility: hidden; position: absolute; white-space: pre; font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; overflow: visible;"></div>
                          </div>
                        </div>
                        <textarea name="editor_code" id="id_editor_code" style="display:none;"></textarea>
                        <input type="text" name="language" style="display:none;" required="" id="id_language" value="{{code_lang}}" maxlength="10">
                        <script>
                          var editor = ace.edit("editor");
                          editor.setTheme("ace/theme/monokai");
                            
                          editor.session.setMode("ace/mode/python");
                          editor.resize()
                          editor.setOptions({
                            fontSize: "14pt"
                          });
                          // document.getElementById('default_editor_space').value = "Sample Code";
                          // editor.getSession().setValue("Sample Code")                          
                          var textarea = $('textarea[name="editor_code"]').hide();
                          // editor.getSession().setValue(textarea.val());
                          editor.getSession().setValue("{{existing_code|escapejs}}");
                          
                        </script>
                        <div class="code-tag-buttons">
                          <button id="run-btn" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button" type="submit" form="main_form">View Submissions</button>
                          <button id="submit-btn" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button">Submit</button>

                          <button id="nupd-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form" style="visibility:hidden;">
                  <i class="material-icons">keyboard_arrow_left</i>NUPD
                </button>
                        </div>

                        <div class="form-buttons-ext">
                          <button type="submit" id="inset-prev" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button" type="submit" form="main_form">Prev</button>
                          <button type="submit" id="inset-next" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button" type="submit" form="main_form">
                            next
                          </button>
                          <button type="submit" id="inset-review" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button">
                            Mark for review
                          </button>
                        </div>
                      </form>

                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-12 question-nav-wrapper">
            <div class="navigation-section">
              <div class="prev-question">
                <button id="prev-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
                  <i class="material-icons">keyboard_arrow_left</i>Prev
                </button>
              </div>
              <div class="next-question">
                <button id="next-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
                  Next
                  <i class="material-icons">keyboard_arrow_right</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <nav class="navbar fixed-bottom navbar-dark">
      <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
    </nav>
  </div>
</body>
<script>
document.getElementById('statictimer').value =
    {{timer_min}} + ":" + {{timer_sec}};

  startTimer();

  function startTimer() {
    try {

    var presentTime = document.getElementById('statictimer').value;
    var timeArray = presentTime.split(/[:]+/);
    var m = timeArray[0];
    var s = checkSecond((timeArray[1] - 1));
    if (s == 59) { m = m - 1 }
  

    document.getElementById('statictimer').value =
      m + ":" + s;
    timehandler();
    if(m+s>0){
      setTimeout(startTimer, 1000);  
    } else {
  
      var_timer = document.getElementById("statictimer").value;
      var_b = "bend"
      document.getElementById('timer_var').value = var_timer;
      document.getElementById('bsource').value = var_b;
      document.getElementById('main_form').submit();
  
    }
  
  }
  catch(err){
    console.log("Error in Start Timer")
  }
}
  function timehandler() {
    try{
    document.getElementById('statictimer2').value = document.getElementById('statictimer').value;
  }
  catch(err){
    console.log("Error in time handler")
  }
  }

  function checkSecond(sec) {
    try{
    if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
    if (sec < 0) { sec = "59" };
    return sec;
  }
  catch(err){
    console.log("Error in check second")
  }
  }

</script>

<script>



 function navigateQuestion(clicked_id)
{
      try{
    var_nav = clicked_id
    var_timer = document.getElementById("statictimer").value;
    var_b = "bnav"
    var editor_instance = ace.edit("editor");
    var code_body = editor_instance.getValue();
    var lang_list = document.getElementById('mode');
    var INDEX = lang_list.selectedIndex;
    var code_language = lang_list[INDEX].text;
    document.getElementById('code_language').value = code_language;
    document.getElementById('code_body').value = code_body;
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    document.getElementById('qno').value = var_nav;
  }

  catch(err){
    
  }

}
  


  $('#submit-btn').click(function () {
    
    var_timer = document.getElementById("statictimer").value;
    var_b = "bsub"
    var editor_instance = ace.edit("editor");
    var code_body = editor_instance.getValue();
    
    var lang_list = document.getElementById('mode');
    var INDEX = lang_list.selectedIndex;
    var code_language = lang_list[INDEX].text;
    
    document.getElementById('code_language').value = code_language;
    document.getElementById('code_body').value = code_body;
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    
  })

  $('#run-btn').click(function () {
    
    var_timer = document.getElementById("statictimer").value;
    var_b = "vsub"
    var editor_instance = ace.edit("editor");
    var code_body = editor_instance.getValue();
    
    var lang_list = document.getElementById('mode');
    var INDEX = lang_list.selectedIndex;
    var code_language = lang_list[INDEX].text;
    
    document.getElementById('code_language').value = code_language;
    document.getElementById('code_body').value = code_body;
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    
  })


  // INSET BUTTONS

  $('#review-btn').click(function () {
    var_timer = document.getElementById("statictimer").value;
    var_b = "brev"
    var editor_instance = ace.edit("editor");
    var code_body = editor_instance.getValue();
    
    var lang_list = document.getElementById('mode');
    var INDEX = lang_list.selectedIndex;
    var code_language = lang_list[INDEX].text;
    
    document.getElementById('code_language').value = code_language;
    document.getElementById('code_body').value = code_body;
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    
  })

  $('#prev-btn').click(function () {
    var_timer = document.getElementById("statictimer").value;
    var_b = "bprev"
    var editor_instance = ace.edit("editor");
    var code_body = editor_instance.getValue();
    
    var lang_list = document.getElementById('mode');
    var INDEX = lang_list.selectedIndex;
    var code_language = lang_list[INDEX].text;
    
    document.getElementById('code_language').value = code_language;
    document.getElementById('code_body').value = code_body;
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    
  })

    $('#next-btn').click(function () {
    var_timer = document.getElementById("statictimer").value;
    var_b = "bnext"
    var editor_instance = ace.edit("editor");
    var code_body = editor_instance.getValue();
    
    var lang_list = document.getElementById('mode');
    var INDEX = lang_list.selectedIndex;
    var code_language = lang_list[INDEX].text;
    
    document.getElementById('code_language').value = code_language;
    document.getElementById('code_body').value = code_body;
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    
  })

    $('#end-test-btn').click(function () {
    var_timer = document.getElementById("statictimer").value;
    var_b = "bend"
    var editor_instance = ace.edit("editor");
    var code_body = editor_instance.getValue();
    
    var lang_list = document.getElementById('mode');
    var INDEX = lang_list.selectedIndex;
    var code_language = lang_list[INDEX].text;
    
    document.getElementById('code_language').value = code_language;
    document.getElementById('code_body').value = code_body;
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    
  })


$('#nupd-btn').click(function (ev) {
  try{
    ev.preventDefault()
    console.log("Button Clicked")
    var_timer = document.getElementById("statictimer").value;
    var_b = "nupd"
    var editor_instance = ace.edit("editor");
    var code_body = editor_instance.getValue();
    
    var lang_list = document.getElementById('mode');
    var INDEX = lang_list.selectedIndex;
    var code_language = lang_list[INDEX].text;
    
    document.getElementById('code_language').value = code_language;
    document.getElementById('code_body').value = code_body;
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    var http = new XMLHttpRequest();
    http.open("POST", "/2bcd6fb3d1asd314ff68b775fc4ca82164d/", true);
    http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    var formdata = $('#main_form').serialize()
    http.send(formdata);
    http.onload = function() {
        console.log("Timer Updated");
    }
    }
    catch(err){
      console.log("Error in Update API")
    } 
   
});

  
</script>



</html>