<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Exam</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/MD_icon.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.indigo-pink.min.css">
  <script defer src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.min.js"></script>
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/style.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/question.css">
</head>

<body>
  <script type="text/javascript">
  setInterval(function () {document.getElementById("nupd-btn").click();}, 30000);
</script>

  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
       <img src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/images/cantilever-logo-final.jpg" height="80" width="160" alt="">
    </a>
    <div class="mx-auto testname-wrapper">
      <span>{{test_name}}</span>
    </div>
     <div class="timer">
      <input type="text" readonly class="form-control-plaintext" id="statictimer" value="">
    </div>
    <div class="finish-test-button">
       <button id="end-test-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
        End Section
      </button>
    </div>
  </nav>
  <div class="container-fluid body-wrapper">
    <div class="row">
      <div class="col-md-2 left-bar">
        <div class="left-section-wrapper">
          <div class="question-list-wrapper">
            <div class="col-md-12 section-heading">
              <h5>{{section_name}}</h5>
            </div>
            <div class="section-1-questions">
              <div class="section-name">
                <h5>Questions</h5>
              </div>
              {% for ques in ques_overview %}
              <input type="submit" id="nav_{{ques.qno}}" form="main_form" value="{{ques.qno}}" onclick="navigateQuestion(this.value)" 
              class="{{ques.status}} mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--colored {% if ques.qno == current_ques %}active{% endif %}">
  
{% endfor %}
            </div>
            <div class="legend-box">
              <div class="answered">
                <p style="color:green;">Attempted -
                  <span id="answeredNum">{{answered}}</span>
                </p>
                <p style="color:grey;">Unattempted -
                  <span id="answeredNum">{{unanswered}}</span>
                </p>
                <p style="color:orange;">Marked for Review -
                  <span id="answeredNum">{{flagged}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 right-part">
        <div class="row">
          <div class="col-md-6 question-container-wrapper">
            <div class="col-md-12 question-section-wrapper">
              <div class="question-number">
                <div class="question-details">
                  <div class="question-no">
                    <p>Question Number : {{current_ques}}</p>
                    Marks : {{question_marks}}
                  </div>
                       <button id="review-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect review-button" type="submit" form="main_form">
                      Mark/Unmark For Review
                    </button>
                </div>
              </div>
            </div>
            <div class="question-container">
              <p>{{question_text | safe}}</p>
            </div>
            {% if img_url is not None %}
            <img src="{{img_url}}" alt="Paris" class="center">
            {% endif %}
          </div>
          <div class="col-md-6 answer-coloumn">
              <div class="col-md-12 question-section-wrapper">
                  <div class="question-number">
                    <div class="question-details">
                      <div class="question-no">
                        <p>Please Select the appropriate choice.</p>
                      </div>
                    </div>
                  </div>
                </div>
            <div class="answer-section-wrapper">
              <form action="/mcq/" method="POST" id="main_form">
                {% csrf_token %}
                {{form.bsource}}
                {{form.timer_var}}
                {{form.qno}}
                {{form.choice_sel}}
                {{form.sno}}
                <div class="form-timer">
                  <input type="text" readonly class="form-control-plaintext" id="statictimer2" value="">
                </div>
                <div class="answer-list">
                  <div class="options-4">
                    {% for option_id, option_value in options_dict.items %}
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{option_id}}">
                      <input type="radio" id="option-{{option_id}}" class="mdl-radio__button" name="options" value="{{option_id}}">
                      <span class="mdl-radio__label">{{option_value | safe}}</span>
                    </label>
                    {% endfor %}
                    <!-- <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                      <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
                      <span class="mdl-radio__label">solar cell</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                      <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3">
                      <span class="mdl-radio__label">thunder</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                      <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="4">
                      <span class="mdl-radio__label">none of the above</span>
                    </label> -->
                  </div>
                  <div class="answer-tag-buttons">
                    <br>
                    <button type="button" id="clear-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button" style="padding: 5px 10px">
                      Clear
                    </button>
                  </div>
                </div>
                <div class="form-buttons-ext">
                 <button type="submit" id="inset-prev" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button" type="submit" form="main_form">Prev</button>
                          <button type="submit" id="inset-next" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button" type="submit" form="main_form">
                            next
                          </button>
                          <button type="submit" id="inset-review" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect clear-button">
                            Mark for review
                          </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12 question-nav-wrapper">
            <div class="navigation-section">
              <div class="prev-question">
                <button id="prev-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
                  <i class="material-icons">keyboard_arrow_left</i>Prev
                </button>
                <button id="nupd-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form" style="visibility:hidden;">
                  <i class="material-icons">keyboard_arrow_left</i>NUPD
                </button>
              </div>
              <div class="next-question">
                <button id="next-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" form="main_form">
                  Next
                  <i class="material-icons">keyboard_arrow_right</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <nav class="navbar fixed-bottom navbar-dark">
      <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
    </nav>
  </div>
</body>

<script>
  // TIMER SCRIPT
  {% if selected_option is not none %}   
  try{
    document.getElementById("option-{{selected_option}}").checked = true;
  }
  catch(err) {
  
} 
{%endif %}


  
  document.getElementById('statictimer').value =
    {{timer_min}} + ":" + {{timer_sec}};

  startTimer();

  function startTimer() {
    try {

    var presentTime = document.getElementById('statictimer').value;
    var timeArray = presentTime.split(/[:]+/);
    var m = timeArray[0];
    var s = checkSecond((timeArray[1] - 1));
    if (s == 59) { m = m - 1 }
  

    document.getElementById('statictimer').value =
      m + ":" + s;
    timehandler();
    if(m+s>0){
      setTimeout(startTimer, 1000);  
    } else {
      sec_no = {{section_number}}
      var_timer = document.getElementById("statictimer").value;
      var_b = "bend"
      document.getElementById('timer_var').value = var_timer;
      document.getElementById('bsource').value = var_b;
      document.getElementById('sno').value = sec_no;
      document.getElementById('main_form').submit();
      

    
    }
  
  }
  catch(err){
    console.log("Error in Start Timer")
  }
}
  function timehandler() {
    try{
    document.getElementById('statictimer2').value = document.getElementById('statictimer').value;
  }
  catch(err){
    console.log("Error in time handler")
  }
  }

  function checkSecond(sec) {
    try{
    if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
    if (sec < 0) { sec = "59" };
    return sec;
  }
  catch(err){
    console.log("Error in check second")
  }
  }

</script>


<script>
  
  $('#clear-btn').click(function () {
    try{
   
    {% for option_id, option_value in options_dict.items %}
    document.getElementById('option-{{option_id}}').parentNode.MaterialRadio.uncheck();
    {% endfor %}
  }
  catch(err){
    console.log("Error in clear option")
  }
   
  });
  
</script>
<script>

sec_no = {{section_number}}
   
  
function navigateQuestion(clicked_id)
{
      // try{
    var var_timer = document.getElementById("statictimer").value;
    var var_b = "bnav"
    var var_nav = clicked_id
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    document.getElementById('qno').value = var_nav;
    document.getElementById('sno').value = sec_no;
  
  // }

  // catch(err){
    
  // }

}
  


  $('#submit-btn').click(function () {
    try{
    var var_timer = document.getElementById("statictimer").value;
    var var_b = "bsub"
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    document.getElementById('sno').value = sec_no;
  }
  catch(err){
    console.log("Error in Submit")
  }
    
  })




  $('#review-btn').click(function () {
   try{
    var var_timer = document.getElementById("statictimer").value;
    var var_b = "brev"
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    document.getElementById('sno').value = sec_no;
  }
  catch(err){
    console.log("Error in review")
  }
    
  })

  $('#prev-btn').click(function () {
    try{
    var var_timer = document.getElementById("statictimer").value;
    var var_b = "bprev"
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    document.getElementById('sno').value = sec_no;
  }
  catch(err){
    console.log("Error in Prev btn")
  }

    
  })

    $('#next-btn').click(function () {
      try{
    var var_timer = document.getElementById("statictimer").value;
    var var_b = "bnext"
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    document.getElementById('sno').value = sec_no;
  }
  catch(err){
    console.log("Error in Next btn")
  }
    
  })

    $('#end-test-btn').click(function () {
      try{
    console.log("End button clicked")
    var var_timer = document.getElementById("statictimer").value;
    var var_b = "bend"
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = var_b;
    document.getElementById('sno').value = sec_no;
  }
  catch(err){
    console.log("Error in End Test")
    
  }
  })


$('#nupd-btn').click(function (ev) {
try{  
    ev.preventDefault()
    console.log("Button Clicked")
    var var_timer = document.getElementById("statictimer").value;
    document.getElementById('timer_var').value = var_timer;
    document.getElementById('bsource').value = "nupd";
    document.getElementById('sno').value = sec_no;
   
    var http = new XMLHttpRequest();
    http.open("POST", "/2bcd6fb3d1314ff68b775fc4ca82164d/", true);
    http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    var formdata = $('#main_form').serialize()
    http.send(formdata);
    http.onload = function() {
        console.log("Timer Updated");
    }
    }
    catch(err){
      console.log("Error in Update API")
    } 
   
});
</script>

</html>