<!-- https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/images/axxela_logo.jpg <meta charset="utf-8"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/particles.min.js"></script> 
<script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/stats.min.js"></script>

<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous">
<script
src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>


<script type="text/javascript" src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/getmdl-select.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/getmdl-select.min.css">

<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/MD_icon.css">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.indigo-pink.min.css">
<script defer src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/external_static/material.min.js"></script>
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/style.css">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/css/register.css">
<style>
.force-scroll {

overflow-y: scroll;

height: 200px;

}
</style>
</head>

<body>
  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
     <img src="https://s3.ap-south-1.amazonaws.com/cantilever-assets/static/images/cantilever-logo-final.jpg" height="80" width="160" alt="">
   </a>
 </nav>
 <!-- particles.js container --> 
 <div id="particles-js"></div>
  <!-- <div class="count-particles">
      <span class="js-count-particles">--</span> particles 
    </div> -->
    <div class="register-container">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="registeration-text">
              <h5>Please enter your details to Register</h5>
            </div>
            <form method="POST" action="/register/">
              {%csrf_token%}
              <div class="name-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" id="Name"> -->
                {{form.name}}
                <label class="mdl-textfield__label" for="Name">{{form.name.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.name.errors.as_text}}</span>
              </div>

         <!--     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" id="InputRollNumber"> -->
                <!-- {{form.InputCollegeName}} -->
             <!--    <label class="mdl-textfield__label" for="{{form.InputCollegeName.id}}">{{form.InputCollegeName.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.InputCollegeName.errors.as_text}}</span>
              </div>


 -->
              <div class="college-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select ">
                    <input type="text" value="{% if form.InputCollegeName.value != None %}{{ form.InputCollegeName.value }}{% endif %}" class="mdl-textfield__input" id="InputCollegeName" >
                    <input type="hidden" value="" name="InputCollegeName">
                    <!-- {{form.InputCollegeName}} -->
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="{{form.InputCollegeName.id}}" class="mdl-textfield__label">{{form.InputCollegeName.label}}</label>
                    <ul for="{{form.InputCollegeName.id}}" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="Alliance Business School">Alliance Business School</li>
<li class="mdl-menu__item" data-val="Assam Engineering College">Assam Engineering College</li>
<li class="mdl-menu__item" data-val="Bangalore Institute of Technology (BIT)">Bangalore Institute of Technology (BIT)</li>
<li class="mdl-menu__item" data-val="Bhawanipore College, Kolkata">Bhawanipore College, Kolkata</li>
<li class="mdl-menu__item" data-val="BITS Goa">BITS Goa</li>
<li class="mdl-menu__item" data-val="BITS Hyderabad">BITS Hyderabad</li>
<li class="mdl-menu__item" data-val="BITS Mesra">BITS Mesra</li>
<li class="mdl-menu__item" data-val="BITS Pilani">BITS Pilani</li>
<li class="mdl-menu__item" data-val="BITS Pilani (Hyderabad Campus)">BITS Pilani (Hyderabad Campus)</li>
<li class="mdl-menu__item" data-val="BMS College of Engineering">BMS College of Engineering</li>
<li class="mdl-menu__item" data-val="CA Institute, Delhi Chapter">CA Institute, Delhi Chapter</li>
<li class="mdl-menu__item" data-val="CA Institute, Kolkata Chapter">CA Institute, Kolkata Chapter</li>
<li class="mdl-menu__item" data-val="CBIT Hyderabad">CBIT Hyderabad</li>
<li class="mdl-menu__item" data-val="CFA Institute, Delhi Chapter">CFA Institute, Delhi Chapter</li>
<li class="mdl-menu__item" data-val="CFA Institute, Mumbai Chapter">CFA Institute, Mumbai Chapter</li>
<li class="mdl-menu__item" data-val="Chitkara University">Chitkara University</li>
<li class="mdl-menu__item" data-val="Christ University">Christ University</li>
<li class="mdl-menu__item" data-val="DAIICT  Ahmedabad">DAIICT  Ahmedabad</li>
<li class="mdl-menu__item" data-val="Delhi School of Economics">Delhi School of Economics</li>
<li class="mdl-menu__item" data-val="Delhi Technological University (DTU)">Delhi Technological University (DTU)</li>
<li class="mdl-menu__item" data-val="DMS-IIT Delhi">DMS-IIT Delhi</li>
<li class="mdl-menu__item" data-val="DOMS , IIT Roorkee">DOMS , IIT Roorkee</li>
<li class="mdl-menu__item" data-val="DTU">DTU</li>
<li class="mdl-menu__item" data-val="Dwarkadas J. Sanghvi College of Engineering, Mumbai">Dwarkadas J. Sanghvi College of Engineering, Mumbai</li>
<li class="mdl-menu__item" data-val="GITAM">GITAM</li>
<li class="mdl-menu__item" data-val="Goenka College of Commerce and Business Administration">Goenka College of Commerce and Business Administration</li>
<li class="mdl-menu__item" data-val="Gokhale Institute, Pune">Gokhale Institute, Pune</li>
<li class="mdl-menu__item" data-val="H R College Mumbai">H R College Mumbai</li>
<li class="mdl-menu__item" data-val="HL  College, Gujarat">HL  College, Gujarat</li>
<li class="mdl-menu__item" data-val="ICAI">ICAI</li>
<li class="mdl-menu__item" data-val="ICFAI Hyderabad">ICFAI Hyderabad</li>
<li class="mdl-menu__item" data-val="IGNOU">IGNOU</li>
<li class="mdl-menu__item" data-val="IIIT Allahabad">IIIT Allahabad</li>
<li class="mdl-menu__item" data-val="IIIT Delhi">IIIT Delhi</li>
<li class="mdl-menu__item" data-val="IIIT Hyderabad">IIIT Hyderabad</li>
<li class="mdl-menu__item" data-val="IIM Indore">IIM Indore</li>
<li class="mdl-menu__item" data-val="IIM Indore">IIM Indore</li>
<li class="mdl-menu__item" data-val="IIM Kashipur">IIM Kashipur</li>
<li class="mdl-menu__item" data-val="IIM Kozhikode">IIM Kozhikode</li>
<li class="mdl-menu__item" data-val="IIM Lucknow">IIM Lucknow</li>
<li class="mdl-menu__item" data-val="IIM Raipur">IIM Raipur</li>
<li class="mdl-menu__item" data-val="IIM Rohtak">IIM Rohtak</li>
<li class="mdl-menu__item" data-val="IIM Shillong">IIM Shillong</li>
<li class="mdl-menu__item" data-val="IIT (ISM )Dhanbad">IIT (ISM )Dhanbad</li>
<li class="mdl-menu__item" data-val="IIT BHU">IIT BHU</li>
<li class="mdl-menu__item" data-val="IIT BHU Varanasi">IIT BHU Varanasi</li>
<li class="mdl-menu__item" data-val="IIT Bhubhaneswar">IIT Bhubhaneswar</li>
<li class="mdl-menu__item" data-val="IIT Bombay">IIT Bombay</li>
<li class="mdl-menu__item" data-val="IIT Delhi">IIT Delhi</li>
<li class="mdl-menu__item" data-val="IIT GandhiNagar">IIT GandhiNagar</li>
<li class="mdl-menu__item" data-val="IIT Guwahati">IIT Guwahati</li>
<li class="mdl-menu__item" data-val="IIT Hyderabad">IIT Hyderabad</li>
<li class="mdl-menu__item" data-val="IIT Indore">IIT Indore</li>
<li class="mdl-menu__item" data-val="IIT Kanpur">IIT Kanpur</li>
<li class="mdl-menu__item" data-val="IIT Kharagpur">IIT Kharagpur</li>
<li class="mdl-menu__item" data-val="IIT Madras">IIT Madras</li>
<li class="mdl-menu__item" data-val="IIT Mandi">IIT Mandi</li>
<li class="mdl-menu__item" data-val="IIT Patna">IIT Patna</li>
<li class="mdl-menu__item" data-val="IIT Roorkee">IIT Roorkee</li>
<li class="mdl-menu__item" data-val="IIT Ropar">IIT Ropar</li>
<li class="mdl-menu__item" data-val="IMI">IMI</li>
<li class="mdl-menu__item" data-val="ISM Dhanbad">ISM Dhanbad</li>
<li class="mdl-menu__item" data-val="J.D.Birla Institute of Management">J.D.Birla Institute of Management</li>
<li class="mdl-menu__item" data-val="Jadavpur University">Jadavpur University</li>
<li class="mdl-menu__item" data-val="JNTU">JNTU</li>
<li class="mdl-menu__item" data-val="KJ Somaiya College of Science and Commerce- Mumbai">KJ Somaiya College of Science and Commerce- Mumbai</li>
<li class="mdl-menu__item" data-val="KJ Somaiya, Management">KJ Somaiya, Management</li>
<li class="mdl-menu__item" data-val="LD College of Engineering, Ahmedabad">LD College of Engineering, Ahmedabad</li>
<li class="mdl-menu__item" data-val="LNMIIT">LNMIIT</li>
<li class="mdl-menu__item" data-val="Manipal Institute of Technology (MIT)">Manipal Institute of Technology (MIT)</li>
<li class="mdl-menu__item" data-val="MANIT, Bhopal">MANIT, Bhopal</li>
<li class="mdl-menu__item" data-val="MIT">MIT</li>
<li class="mdl-menu__item" data-val="MNIT Jaipur">MNIT Jaipur</li>
<li class="mdl-menu__item" data-val="MNNIT Allahabad">MNNIT Allahabad</li>
<li class="mdl-menu__item" data-val="Modi University of Science and Technology, Laxmangarh">Modi University of Science and Technology, Laxmangarh</li>
<li class="mdl-menu__item" data-val="Narsee Monjee College Mumbai">Narsee Monjee College Mumbai</li>
<li class="mdl-menu__item" data-val="National Institute of Technology, Kurukshetra">National Institute of Technology, Kurukshetra</li>
<li class="mdl-menu__item" data-val="Nirma University of Science and Technology, Ahmedabad">Nirma University of Science and Technology, Ahmedabad</li>
<li class="mdl-menu__item" data-val="NIT Calicut">NIT Calicut</li>
<li class="mdl-menu__item" data-val="NIT Durgapur">NIT Durgapur</li>
<li class="mdl-menu__item" data-val="NIT Hamirpur">NIT Hamirpur</li>
<li class="mdl-menu__item" data-val="NIT Jalandhar">NIT Jalandhar</li>
<li class="mdl-menu__item" data-val="NIT Jamshedpur">NIT Jamshedpur</li>
<li class="mdl-menu__item" data-val="NIT Patna">NIT Patna</li>
<li class="mdl-menu__item" data-val="NIT Raipur">NIT Raipur</li>
<li class="mdl-menu__item" data-val="NIT Rourkela">NIT Rourkela</li>
<li class="mdl-menu__item" data-val="NIT Srinagar">NIT Srinagar</li>
<li class="mdl-menu__item" data-val="NIT Suratkal">NIT Suratkal</li>
<li class="mdl-menu__item" data-val="NIT Trichy">NIT Trichy</li>
<li class="mdl-menu__item" data-val="NIT Warangal">NIT Warangal</li>
<li class="mdl-menu__item" data-val="NMIMS">NMIMS</li>
<li class="mdl-menu__item" data-val="NSIT">NSIT</li>
<li class="mdl-menu__item" data-val="Osmania Engg and MBA">Osmania Engg and MBA</li>
<li class="mdl-menu__item" data-val="PDPU, Gandhinagar">PDPU, Gandhinagar</li>
<li class="mdl-menu__item" data-val="PEC University of Technology">PEC University of Technology</li>
<li class="mdl-menu__item" data-val="Presidency College, Kolkata">Presidency College, Kolkata</li>
<li class="mdl-menu__item" data-val="R. A. Poddar College Mumbai">R. A. Poddar College Mumbai</li>
<li class="mdl-menu__item" data-val="RVCE">RVCE</li>
<li class="mdl-menu__item" data-val="Sardar Patel College of Engineering- Mumbai">Sardar Patel College of Engineering- Mumbai</li>
<li class="mdl-menu__item" data-val="Shahad Bhagat Singh College Delhi University">Shahad Bhagat Singh College Delhi University</li>
<li class="mdl-menu__item" data-val="Shiv Nadar University">Shiv Nadar University</li>
<li class="mdl-menu__item" data-val="Shri Govindrama Seksariya Institute of Technology & Science, Indore">Shri Govindrama Seksariya Institute of Technology & Science, Indore</li>
<li class="mdl-menu__item" data-val="SIBM Hyderabad">SIBM Hyderabad</li>
<li class="mdl-menu__item" data-val="SIBM, Pune">SIBM, Pune</li>
<li class="mdl-menu__item" data-val="SOL, Delhi University">SOL, Delhi University</li>
<li class="mdl-menu__item" data-val="SRCC">SRCC</li>
<li class="mdl-menu__item" data-val="SRCC GBO">SRCC GBO</li>
<li class="mdl-menu__item" data-val="Sri Bhagawan Mahaveer Jain College">Sri Bhagawan Mahaveer Jain College</li>
<li class="mdl-menu__item" data-val="SRM College">SRM College</li>
<li class="mdl-menu__item" data-val="St. Xavier's College, Kolkata">St. Xavier's College, Kolkata</li>
<li class="mdl-menu__item" data-val="St.Xaviers, Mumbai">St.Xaviers, Mumbai</li>
<li class="mdl-menu__item" data-val="SVNIT Surat">SVNIT Surat</li>
<li class="mdl-menu__item" data-val="TAPMI">TAPMI</li>
<li class="mdl-menu__item" data-val="Thapar University">Thapar University</li>
<li class="mdl-menu__item" data-val="Veermata Jijabai Technological Institute, Mumbai">Veermata Jijabai Technological Institute, Mumbai</li>
<li class="mdl-menu__item" data-val="VIT  University Vellore">VIT  University Vellore</li>
<li class="mdl-menu__item" data-val="VIT University Chennai">VIT University Chennai</li>
<li class="mdl-menu__item" data-val="VNIT Nagpur">VNIT Nagpur</li>
<li class="mdl-menu__item" data-val="XIMB">XIMB</li>

                    </ul>
                </div>

<!--               <div class="cgpa-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
 -->                <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputMobileNumber"> -->
<!--                 {{form.InputBranch}}
 --><!--                 <label class="mdl-textfield__label" for="{{form.InputBranch.id}}">{{form.InputBranch.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.InputBranch.errors.as_text}}</span>
              </div>
 -->

<div class="branch-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" class="mdl-textfield__input" id="InputBranch">
                    <input type="hidden" value="" name="InputBranch">
                    <!-- {{form.InputBranch}} -->
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="InputBranch" class="mdl-textfield__label">Branch</label>
                    <ul for="InputBranch" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                    
<li class="mdl-menu__item" data-val="B.Tech">B.Tech</li>
<li class="mdl-menu__item" data-val="B.Com">B.Com</li>
<li class="mdl-menu__item" data-val="B.E.">B.E.</li>
<li class="mdl-menu__item" data-val="B.Sc">B.Sc</li>
<li class="mdl-menu__item" data-val="B.A.">B.A.</li>
<li class="mdl-menu__item" data-val="BBA">BBA</li>
<li class="mdl-menu__item" data-val="M.Tech.">M.Tech.</li>
<li class="mdl-menu__item" data-val="M.Sc.">M.Sc.</li>
<li class="mdl-menu__item" data-val="M.Sc Dual  Degree">M.Sc Dual  Degree</li>
<li class="mdl-menu__item" data-val="M.Sc Integrated">M.Sc Integrated</li>
<li class="mdl-menu__item" data-val="MBA">MBA</li>
<li class="mdl-menu__item" data-val="PGDM">PGDM</li>
<li class="mdl-menu__item" data-val="Other">Other</li>

                    </ul>
                </div>


              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" id="InputRollNumber"> -->
                {{form.student_id}}
                <label class="mdl-textfield__label" for="InputRollNumber">{{form.student_id.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.student_id.errors}}</span>
              </div>
              <div class="cgpa-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputMobileNumber"> -->
                {{form.cgpa}}
                <label class="mdl-textfield__label" for="{{form.cgpa.id}}">{{form.cgpa.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.cgpa.errors.as_text}}</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" id="InputRollNumber"> -->
                {{form.marks_10}}
                <label class="mdl-textfield__label" for="InputRollNumber">{{form.marks_10.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.marks_10.errors}}</span>
              </div>
              <div class="cgpa-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputMobileNumber"> -->
                {{form.marks_12}}
                <label class="mdl-textfield__label" for="{{form.cgpa.id}}">{{form.marks_12.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.marks_12.errors.as_text}}</span>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" id="InputRollNumber"> -->
                {{form.home_town}}
                <label class="mdl-textfield__label" for="InputRollNumber">{{form.home_town.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.home_town.errors}}</span>
              </div>
              <div class="cgpa-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputMobileNumber"> -->
                {{form.home_state}}
                <label class="mdl-textfield__label" for="{{form.cgpa.id}}">{{form.home_state.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.home_state.errors.as_text}}</span>
              </div>


              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" id="InputRollNumber"> -->
                {{form.work_experience}}
                <label class="mdl-textfield__label" for="InputRollNumber">{{form.work_experience.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.work_experience.errors}}</span>
              </div>
              <div class="cgpa-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputMobileNumber"> -->
                {{form.years_of_experience}}
                <label class="mdl-textfield__label" for="{{form.cgpa.id}}">{{form.years_of_experience.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.years_of_experience.errors.as_text}}</span>
              </div>


              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" id="InputRollNumber"> -->
                {{form.user_email}}
                <label class="mdl-textfield__label" for="InputRollNumber">{{form.user_email.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.user_email.errors.as_text}}</span>
              </div>
              <div class="mobilenum-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputMobileNumber"> -->
                {{form.mobile}}
                <label class="mdl-textfield__label" for="{{form.mobile.id}}">{{form.mobile.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.mobile.errors.as_text}}</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" id="InputDOB"> -->
                {{form.dob}}
                <label class="mdl-textfield__label" for="{{form.dob.id}}">{{form.dob.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.dob.errors.as_text}}</span>
              </div>
              <div class="yog-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="InputYOG"> -->
                {{form.expected_year}}
                <label class="mdl-textfield__label" for="{{form.expected_year.id}}">{{form.expected_year.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.expected_year.errors.as_text}}</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <!-- <input class="mdl-textfield__input" type="text" id="InputDOB"> -->
                {{form.org_name}}
                <label class="mdl-textfield__label" for="{{form.dob.id}}">{{form.org_name.label}}</label>
                <span class="mdl-textfield__error" style="visibility: visible;">{{form.org_name.errors.as_text}}</span>
              </div>

                <!-- <div class="password-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                  </div> -->
                  <!-- <div class="confirm-password-div right-div mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input" type="password" id="confirm-password">
                      <label class="mdl-textfield__label" for="confirm-password">Confirm Password</label>
                      <span class="mdl-textfield__error">Passwords do not match!</span>
                    </div> -->
                    <div>
                      <input type="submit" value="Register" id="register" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  <!-- <button id="register-btn" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Register
                  </button> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <nav class="navbar fixed-bottom navbar-dark">
          <a class="navbar-brand" href="#">&#169 Cantilever Labs Pvt Limited.</a>
        </nav>
      </div>
    </body>
    <script>
      particlesJS("particles-js", {"particles":{"number":{"value":159,"density":{"enable":true,"value_area":1183.721462448409}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":8},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":176.3753266952075,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"repulse"},"onclick":{"enable":false,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});

  //var count_particles, stats, update; stats = new Stats; stats.setMode(0); stats.domElement.style.position = 'absolute'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement); count_particles = document.querySelector('.js-count-particles'); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);;
</script>
<script>
  $('#password, #confirm-password').on('keyup', function () {
    if ($('#password').val() == $('#confirm-password').val()) {
      $('div.confirm-password-div').removeClass("is-invalid");;
    } else 
    $('div.confirm-password-div').addClass("is-invalid");
  });
</script>
</html>