.testname-wrapper{
    width: 200px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.user-details p{
	display: inline;
	color: white;
}
#end-test-btn{
    background-color: #de3a3a;
}
.left-bar{
	background-color: whitesmoke;
    height: 85vh;
    overflow-y: auto;
}
.qsnbtn{
	border: 1px solid;
    width: 25px;
    padding: 5px !important;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2;
    margin: 5px;
}
.question-section-wrapper{
    height: 7vh;
}
.body-wrapper{
	height: 90vh;
}
.mdl-button--fab.mdl-button--mini-fab {
    height: 28px;
    min-width: 28px;
    width: 25px;
    font-size: 16px;
    line-height: 1.78;
    text-decoration: none;
    margin-left: 3px;
    margin-bottom: 5px;
}
.mdl-button--fab.mdl-button--mini-fab.unanswered{
    background-color: darkgray;
}
.mdl-button--fab.mdl-button--mini-fab.answered{
    background-color: green;
}
.mdl-button--fab.mdl-button--mini-fab.flagged{
    background-color: orange;
}
.mdl-button--fab.mdl-button--mini-fab.active {
    box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
    border: 2px solid white;
    line-height: 1.7;
}
.question-number{
    padding-top: 10px;
}
.answer-list{
    padding-top: 15px;
}
.answer-list label {
    display: block;
}
.clear-button{
    font-size: 12px;
}
.review-button{
    display: block;
    font-size: 12px;
    background-color: orange;
    color: white;
}
.review-button:hover{
    background-color: rgb(247, 190, 88);
}
.question-details{
    display: flex;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}
.question-no p{
    margin: 0;
    font-size: 18px;
}
.prev-question button{
    padding-left: 5px;
}
.next-question button{
    padding-right: 5px;
}
.question-container{
    padding-top: 20px;
}
.answer-section-wrapper{
    padding-top: 10px;
}
.answer-coloumn {
    min-height: 75vh;
    border-right: 1px solid darkgrey;
    max-height: 75vh;
    overflow: auto;
    margin: 0 0 60px 0px;
}
.timer{
    width: 50px;
    text-align: center;
    margin-right: 130px;
    border-radius: 5px;
    background-color: white;
}
.timer input{
    text-align: center;
}
.question-container-wrapper {
    min-height: 75vh;
    border-right: 1px solid darkgrey;
    max-height: 75vh;
    overflow: auto;
    margin: 0 0 60px 0px;
}
.question-nav-wrapper{
    border-top: 1px solid darkgray;
    height: 10vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-section{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}
.code-tag-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.code-box-wrapper .mdl-textfield{
    width: 100%;
}
.answer-tag-buttons{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.finish-test-button{
    position: absolute;
    right: 10px;
}
.legend-box{
    margin-bottom: 10px;
}
.legend-box div {
    padding-top: 25px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
}
.legend-box div a{
    margin-right: 10px;
}
.legend-box div p{
    margin: 0;
    font-size: 16px;
}
.form-buttons-ext{
    display: none;
}
.form-timer{
    display: none;
}

.mdl-radio {
    height: auto !important;
}
